.label-bold {
  font-weight: 700 !important;
}
.pink {
  color: #ffbbbb;
}
.border-pink {
  border: 2px solid #ffbbbb;
}
.border-bottom-pink {
  border-bottom: 1px solid #ffbbbb;
}
.pink-background {
  background-color: #ffeaea;
}
.progress-bar {
  background-color: #ffbbbb!important;
}
.button-pink {
  border: 1px solid #ffbbbb;
  background-color: #ffffff;
  color: black;
}
.dancevent {
  color: #ce9aa3;
}
.dancevent:hover, .dancevent:focus, .dancevent:active {
  color: #ce9aa3;
}
.white {
  color: #ffffff;
}
.white:hover, .white:focus, .white:active {
  color: #f5f5f5;
}
.border-red {
  border: 1px solid #ffc8c8;
}
.border-red:hover, .border-red:focus, .border-red:active {
  border: 1px solid #ffd6d6;
}
.form-control:focus {
  border: 1px solid #ffbbbb;
  box-shadow: 0 0 0 0.2rem rgba(255,187,187, 0.25);
}
.button-pink:hover, .button-pink:focus, .button-pink:active {
  border: 1px solid #ffbbbb;
  background-color: #ffbbbb;
  color: #ffffff;
}
.profile-margin {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/*CARDS in Profile*/
.event-card {
  margin: 0.5rem;
}
/*crop images*/
.crop-box {
  height: 250px;
  width: 100%;
}
.crop-to-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#crop-avatar img {
  display: flex;
  width: 150px;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-img-top {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
 .card {
  height: 100%;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}